/target/
/ranking-2006.txt
/ranking-2007.txt
/ranking-2008.txt
/ranking-2009.txt
/ranking-2010.txt
/ranking-2011.txt
/ranking-2012.txt
/ranking-2013.txt
/ranking-2014.txt
/ranking-2015.txt
/ranking-2016.txt
/tempo-de-execucao.txt
/horror-melhores.txt
.gitconfig